@media only screen and (max-width: 1024px)
{
    body {
        font-size: 12px;
    }

    button {
        font-size: 12px;
        opacity: 1;
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 1023px)
{

    header nav > span#copyright {
        /*display: none;*/
        max-width: 45%;
        text-align: center;
    }
}

@media only screen and (max-width: 767px)
{
    #aside {
        display: none;
    }

    div.grid {
        width: 100% !important;
    }
}
