<!DOCTYPE html>
<html lang="en">
    {% include 'layout/head.html' %}
    <body {% if not debug %} class="animated" {% endif %}>
        {% if not debug %}
            <video autoplay muted loop id="background">
                <source src="{{ url_for('static', filename='images/background.mp4') }}" type="video/mp4" />
            </video>
        {% endif %}
        <div class="grid height_full">
            <div id="aside" class="grid width_20 height_full">
                <aside></aside>
            </div>
            <div id="main" class="grid width_80">
                <div class="grid height_7_5">
                    <header>
                        <div class="content">
                            <nav>
                                <a href="{{ url_for('index') }}">
                                    <img src="{{ url_for('static', filename='images/logo_favicon.png') }}" alt="INDEX" />
                                </a>
                                <a href="/readme">README</a>
                                <a href="/changelog">CHANGELOG</a>
                                <a href="/documentation">DOCUMENTATION</a>
                                <span>{{ copyright }}</span>
                                <a href="/license">LICENSE</a>
                            </nav>
                        </div>
                    </header>
                </div>
                <div class="grid height_80">
                    <section id="content">
                        {% if self.content() %}
                            <div class="content">
                                {% if title %}
                                    <h1>{{ title }}</h1>
                                {% endif %}
                                {% block content %}{% endblock %}
                            </div>
                        {% endif %}
                    </section>
                </div>
                <div class="grid height_12_5">
                    <footer>
                        <aside>
                            <div class="content">
                                {{ title }} | {{ copyright }}
                            </div>
                        </aside>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
