<!DOCTYPE html>
<html lang="en">
    {% include 'layout/head.html' %}
    <body {% if not debug %} class="animated" {% endif %}>
        {% if not debug %}
            <video autoplay muted loop id="background">
                <source src="{{ url_for('static', filename='images/background.mp4') }}" type="video/mp4" />
            </video>
        {% endif %}
        <div class="grid height_full">
            <div id="aside" class="grid width_20 height_full">
                <aside>
                    <div class="content">
                        {{ args['html']|safe }}
                    </div>
                </aside>
            </div>
            <div id="main" class="grid width_80">
                <div class="grid width_70 height_7_5">
                    <header>
                        <div class="content auto_height">
                            <nav>
                                <a href="{{ url_for('index') }}">
                                    <img src="{{ url_for('static', filename='images/logo_favicon.png') }}" alt="INDEX" />
                                </a>
                                <a href="/readme">README</a>
                                <a href="/changelog">CHANGELOG</a>
                                <!--<a href="/documentation">DOCUMENTATION</a>-->
                                <span id="copyright">{{ copyright }}</span>
                                <a href="/license">LICENSE</a>
                            </nav>
                        </div>
                    </header>
                </div>
                <div class="grid width_30 height_7_5">
                    <header>
                        <div class="content auto_height">
                            <nav>
                                <span class="buttons">
                                    <button id="start">
                                        START
                                    </button>
                                    <button id="pause">
                                        PAUSE
                                    </button>
                                    <button id="restart">
                                        RESTART
                                    </button>
                                </span>
                                <span style="text-align:right">
                                    &nbsp;
                                    Blockchain's length: <span id="blockchain_length">0</span><br />
                                    (transactions: <span id="total_transactions">0</span>)
                                </span>
                            </nav>
                        </div>
                    </header>
                </div>
                <div class="grid height_80">
                    <section id="content">
                        {% if self.content() %}
                            <div class="content">
                                {% if title %}
                                    <h1>{{ title }}</h1>
                                {% endif %}
                                {% block content %}{% endblock %}
                            </div>
                        {% endif %}
                    </section>
                </div>
                <div class="grid height_12_5">
                    <footer>
                        <aside>
                            <div class="content">
                                <br />{{ title }} | {{ copyright }}<br />
                            </div>
                        </aside>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
