<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='rwd.css') }}" />
    <link rel=icon href="{{ url_for('static', filename='images/logo_favicon.png') }}" sizes="24x24" type="image/png" />
    <title>{{ title }}</title>
    {% if debug %}
        <style>
            div.grid {
                box-shadow: 0 0 8px inset red;
            }
        </style>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
