<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rwd.css') }}">
    <title>{{ title }}</title>
    {% if debug %}
        <style>
            div.grid {
                box-shadow: 0 0 8px inset red;
            }
        </style>
    {% endif %}
</head>
